<ul class="ul-list">
    <li class="ul-list__list">
        <img src="./img/main-page/ul-list-marker.svg" alt="Иконка" class="ul-list__img">
        <p class="ul-list__text">количества и стоимости металлопроката;</p>
    </li>
    <li class="ul-list__list">
        <img src="./img/main-page/ul-list-marker.svg" alt="Иконка" class="ul-list__img">
        <p class="ul-list__text">масштабов подготовительных работ: нарезки, штамповки, комплектования, сверления
            отверстий
            ;</p>
    </li>
    <li class="ul-list__list">
        <img src="./img/main-page/ul-list-marker.svg" alt="Иконка" class="ul-list__img">
        <p class="ul-list__text">объема сборки и сварочных работ с последующей зачисткой швов;</p>
    </li>
    <li class="ul-list__list">
        <img src="./img/main-page/ul-list-marker.svg" alt="Иконка" class="ul-list__img">
        <p class="ul-list__text">cпособа антикоррозийной обработки;
        </p>
    </li>
</ul>