<div class="grid-price-slider-box">
    <div class="grid-price-slider swiper">
        <div class="grid-price-slider-wrapper swiper-wrapper">
            <div class="grid-price-slider-slide swiper-slide">
                <ul class="grid-price">
                    <li class="grid-price__item grid-price__item-header">
                        <div class="grid-price__text grid-price__text--1">Наименование</div>
                        <div class="grid-price__text grid-price__text--2">Единица измерения</div>
                        <div class="grid-price__text grid-price__text--3">Цена</div>
                    </li>
                    <li class="grid-price__item">
                        <div class="grid-price__text grid-price__text--1">Монтаж каркаса</div>
                        <div class="grid-price__text grid-price__text--2">тонна</div>
                        <div class="grid-price__text grid-price__text--3">от 8 250 ₽</div>
                    </li>
                    <li class="grid-price__item">
                        <div class="grid-price__text grid-price__text--1">Обшивка проф. листом</div>
                        <div class="grid-price__text grid-price__text--2">м2</div>
                        <div class="grid-price__text grid-price__text--3">от 290 ₽</div>
                    </li>
                    <li class="grid-price__item">
                        <div class="grid-price__text grid-price__text--1">Монтаж сендвич-панелями</div>
                        <div class="grid-price__text grid-price__text--2">м2</div>
                        <div class="grid-price__text grid-price__text--3">от 420 ₽</div>
                    </li>
                    <li class="grid-price__item">
                        <div class="grid-price__text grid-price__text--1">Монтаж фасада</div>
                        <div class="grid-price__text grid-price__text--2">пог. м</div>
                        <div class="grid-price__text grid-price__text--3">от 134 ₽</div>
                    </li>
                    <li class="grid-price__item">
                        <div class="grid-price__text grid-price__text--1">Установка ограждений, ворот</div>
                        <div class="grid-price__text grid-price__text--2">шт.</div>
                        <div class="grid-price__text grid-price__text--3">от 10 250 ₽</div>
                    </li>
                    <li class="grid-price__item">
                        <div class="grid-price__text grid-price__text--1">Устройство перекрытий</div>
                        <div class="grid-price__text grid-price__text--2">м3</div>
                        <div class="grid-price__text grid-price__text--3">от 3 000 ₽</div>
                    </li>
                    <li class="grid-price__item">
                        <div class="grid-price__text grid-price__text--1">Установка ограждений, ворот</div>
                        <div class="grid-price__text grid-price__text--2">шт.</div>
                        <div class="grid-price__text grid-price__text--3">от 10 250 ₽</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="swiper-scrollbar">
        <!-- <div class="swiper-scrollbar-drag"></div> -->
    </div>
</div>