.delivery {
  &__title {
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media (max-width: 500px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 18px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: $gray;
    margin-bottom: 40px;

    @media (max-width: 500px) {
      font-size: 14px;
      line-height: 16px;
      text-align: start;
      padding-right: 17px;
      margin-bottom: 20px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
    @media (max-width: 500px) {
      gap: 5px;
    }
  }

  &__card {
    flex: 0 1 321px;

    @media (max-width: 500px) {
      flex: 0 1 auto;
    }
  }

  &__card-img-wrap {
    height: 251px;
  }

  &__card-img {
    max-width: 100%;
  }

  &__list {
    max-width: 289px;
    text-align: center;
    margin-top: 5px;

    @media (max-width: 500px) {
      text-align: start;
      margin-top: 0;
      max-width: none;
    }
  }

  &__list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $black;

    span {
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:last-child {
      border-top: 1px solid $blue;
      padding-top: 20px;
      margin-top: 20px;
    }
  }

  &__list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $black;
    text-transform: uppercase;
  }
}

// self-delivery=============================================
.self-delivery {
  margin-bottom: 50px;

  @media (max-width: 500px) {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 15px;

    @media (max-width: 500px) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: $gray;
    margin-bottom: 18px;

    @media (max-width: 500px) {
      text-align: start;
    }
  }

  &__map {
    height: 500px;

    @media (max-width: 500px) {
      height: 335px;
    }

    div {
      height: 100%;
    }
  }
}
