.carve {
  &__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 25px;

    @media (max-width: 500px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }

  &__info {
    background: #474747;
    border-radius: 5px;
    position: relative;
    padding: 23px 45px 25px;
    display: flex;
    gap: 25px;
    align-items: center;

    @media (max-width: 1150px) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: 7px;
      right: 7px;
      top: 7px;
      bottom: -7px;
      border: 1px solid $blue;
      border-radius: 5px;
    }
  }

  &__img {
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: $white;
  }

  &__button {
    margin-left: auto;
  }
}

// all-carve============================================================
.all-carve {
  margin-top: 56px;

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: $gray;
    margin-bottom: 20px;

    @media (max-width: 500px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 12px;
    }
  }

  &__button {
    display: none;

    @media (max-width: 1150px) {
      display: flex;
      margin: 28px auto;
    }
    @media (max-width: 500px) {
      width: 98%;
      justify-content: center;
    }
  }

  &__ul-wrap {
    background: $white;
    box-shadow: 0px 0px 25px rgba(183, 183, 183, 0.25);
  }

  &__slider {
    margin-top: 53px;

    @media (max-width: 500px) {
      margin-top: 25px;
    }
  }

  &__slider-wrapper {
  }

  &__slider-slide {
    border-radius: 5px;
    overflow: hidden;
  }

  &__slider-img-wrap {
    position: relative;
    max-width: 1200px;

    @media (max-width: 550px) {
      height: 201px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#000000, 0.5);
    }
  }

  &__slider-img {
    max-width: 100%;

    @media (max-width: 550px) {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// .ul-list {
//   &__list {
//   }

//   &__img {
//   }

//   &__text {
//   }
// }

// swiper====================
.all-carve {
  .swiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 14px;
    height: 28px;
    margin-top: 0;
    transform: translateY(-50%);

    @media (max-width: 550px) {
      display: none;
    }

    path {
      transition: 0.2s;
    }

    &:hover path {
      fill: $blue;
    }

    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    left: 20px;
  }
  .swiper-button-next {
    right: 20px;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    bottom: 25px;

    @media (max-width: 900px) {
      margin-top: 41px;
    }
    @media (max-width: 550px) {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background-color: $white;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 31px;
      height: 31px;
      border: 2px solid $blue;
      background-color: transparent;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $blue;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

// block-video=============================================
.block-video {
  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: $gray;

    @media (max-width: 500px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 23px;
    }
  }

  &__video-wrap {
    margin-top: 46px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width: 100%;

    @media (max-width: 500px) {
      height: 224px;
      margin-top: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#000, 0.5);
    }
  }

  &__img {
    max-width: 100%;

    @media (max-width: 500px) {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__play {
    width: 184px;
    height: 184px;
    border: 2px solid $white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;

    @media (max-width: 800px) {
      width: 94px;
      height: 94px;
    }

    &:hover {
      border: 2px solid $blue;

      path {
        fill: $blue;
      }
    }

    svg {
      @media (max-width: 800px) {
        width: 48%;
        margin-left: 12px;
      }
    }

    path {
      transition: 0.2s;
    }
  }
}

// grid-price-services=========================================
.grid-price-services {
}

// advantage-services =======================================================
.advantage-services {
  &__title {
    margin-bottom: 35px;
  }
}
