<div class="cards-advantage">
    <div class="cards-advantage__card">
        <img src="./img/main-page/advantage-1.svg" alt="Преимущества" class="cards-advantage__card-img">
        <h4 class="cards-advantage__card-title">Работаем с 2015 года</h4>
        <p class="cards-advantage__card-text">Опыт работы сотрудников более 7 лет</p>
    </div>
    <div class="cards-advantage__card">
        <img src="./img/main-page/advantage-2.svg" alt="Преимущества" class="cards-advantage__card-img">
        <h4 class="cards-advantage__card-title">Качественные материалы</h4>
        <p class="cards-advantage__card-text">Вся продукция соответствует ГОСТу</p>
    </div>
    <div class="cards-advantage__card">
        <img src="./img/main-page/advantage-3.svg" alt="Преимущества" class="cards-advantage__card-img">
        <h4 class="cards-advantage__card-title">Гарантии</h4>
        <p class="cards-advantage__card-text">На все услуги и продукцию предоставляем гарантию</p>
    </div>
    <div class="cards-advantage__card">
        <img src="./img/main-page/advantage-4.svg" alt="Преимущества" class="cards-advantage__card-img">
        <h4 class="cards-advantage__card-title">Любые объемы</h4>
        <p class="cards-advantage__card-text">Минимальный заказ от 10000 руб.</p>
    </div>
    <div class="cards-advantage__card">
        <img src="./img/main-page/advantage-5.svg" alt="Преимущества" class="cards-advantage__card-img">
        <h4 class="cards-advantage__card-title">Точно в срок</h4>
        <p class="cards-advantage__card-text">Минимальные сроки выполнения заказа без задержек</p>
    </div>
    <div class="cards-advantage__card">
        <img src="./img/main-page/advantage-6.svg" alt="Преимущества" class="cards-advantage__card-img">
        <h4 class="cards-advantage__card-title">Без наценки</h4>
        <p class="cards-advantage__card-text">Выгодные цены за счет собственного производства</p>
    </div>
</div>